* {
  font-family: sans-serif;
}
body {
  background-color: rgb(9, 209, 235);
  -moz-transform: scale(0.55, 0.55);
  zoom: 0.55;
  zoom: 55%;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  background-color: rgb(213, 227, 12);
  color: tomato;
  padding: 10px;
  font-family: cursive;
}

article {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.canyouguess {
  font-size: 30px;
  color: black;
}

#rightanswer {
  width: 350px;
  height: 50px;
  border: solid 3px;
  margin-block: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: green;
  border-radius: 10px;
  color: green;
  background-color: beige;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 25px;
  position: relative;
  margin-top: -70px;
  margin-left: 20px;
}

#sound {
  display: none;
}

#megaphone:hover {
  cursor: pointer;
}

#megaphone {
  position: relative;
  margin-left: -90px;
  margin-bottom: 5px;
}

#draggable1,
#draggable2,
#draggable3,
#draggable4,
#draggable5,
#draggable6 {
  width: 280px;
  height: 60px;
  border: solid;
  margin-block: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: rgb(201, 215, 3);
  border-radius: 10px;
  color: rgb(201, 215, 3);
  background-color: #8c00ff;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 20px;
}
#draggable1:hover,
#draggable2:hover,
#draggable3:hover,
#draggable4:hover,
#draggable5:hover,
#draggable6:hover {
  color: #8c00ff;
  background-color: rgb(201, 215, 3);
  cursor: pointer;
}

.answering {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

#image {
  border: solid 4px;
  border-radius: 15px;
  border-color: rgb(213, 227, 12);
  background-color: rgb(198, 169, 224);
}

#answer {
  width: 100px;
  height: 30px;
}

.answers {
  display: flex !important;
  gap: 10px;
  margin-left: 15px;
  justify-content: center;
  align-items: center;
}

#score,
#scorep {
  font-size: 45px;
  font-weight: bold;
  font-family: cursive;
  color: rgb(16, 148, 16);
  position: relative;
  margin-left: 25px;
  margin-bottom: -90px;
}

#scoreps {
  font-size: 45px;
  font-weight: bold;
  font-family: cursive;
  color: tomato;
  margin: 0;
  margin-bottom: 10px;
}

/* CSS */
.button-15 {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
    rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgba(44, 187, 99, 0.15) 0 16px 32px;
  color: green;
  cursor: pointer;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  display: none;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 30px;
  font-weight: bold;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 420px;
  height: 80px;
}

.button-15:hover {
  box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
    rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
    rgba(44, 187, 99, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

@media (max-width: 880px) {
  #monkeymg,
  #kidimg {
    width: 300px;
  }
  #monkeymg {
    margin-right: 0px !important;
  }
}
@media (max-width: 750px) {
  #monkeymg,
  #kidimg {
    width: 250px;
  }
  #monkeymg {
    margin-right: 0px !important;
  }
}
@media (max-width: 600px) {
  #monkeymg,
  #kidimg {
    display: none;
  }
}
