* {
  font-family: sans-serif;
}
body {
  background-color: rgb(9, 209, 235);
  -moz-transform: scale(0.65, 0.65);
  zoom: 0.65;
  zoom: 65%;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  background-color: rgb(213, 227, 12);
  color: tomato;
  padding: 10px;
  font-family: cursive;
}

article {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.canyouguess {
  font-size: 30px;
  color: black;
}

#rightanswer {
  width: 220px;
  height: 40px;
  border: solid 3px;
  margin-block: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: green;
  border-radius: 10px;
  color: green;
  background-color: beige;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 25px;
}

#sound {
  display: none;
}

#megaphone:hover {
  cursor: pointer;
}

#megaphone {
  position: relative;
  margin-left: -80px;
  margin-bottom: 5px;
}

#rightanswers {
  width: 220px;
  height: 50px;
  border: solid;
  margin-block: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: rgb(201, 215, 3);
  border-radius: 10px;
  color: rgb(201, 215, 3);
  background-color: rgb(175, 123, 220);
  font-family: sans-serif;
  font-weight: bold;
  font-size: 20px;
}
#rightanswers:hover {
  background-color: #8c00ff;
  cursor: pointer;
}

.answering {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

#image {
  border: solid 4px;
  border-radius: 15px;
  border-color: rgb(213, 227, 12);
  background-color: rgb(198, 169, 224);
}

#answer {
  width: 100px;
  height: 30px;
}

.answers {
  display: flex !important;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

/* CSS */
.button-15 {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
    rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgba(44, 187, 99, 0.15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 200px;
  height: 50px;
  margin-left: 10px;
}

.button-15:hover {
  box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
    rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
    rgba(44, 187, 99, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
